
.team{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  
  .team>img{
    margin-top: 2.5rem;
    width: 80%;
  }
  
  .team .diagramme{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 6rem;
  }
  
  .team .line{
    border: solid black;
    border-width: 0 0 1px 0;
  }
  
  .team .line-long{
    width: 10rem;
  }
  
  .team .line-small{
    width: 6rem;
  }
  
  .team .line-vertical{
    position: absolute;
    border: solid black;
    height: 10rem;
    border-width: 0 0 0 1px;
  }
  
  .team .vertical1{
    margin-top: 10rem;
  }
  .team .vertical2{
    margin-top: 10.7rem;
    left: 23%;
    height: 7.7rem;
  }
  .team .vertical3{
    margin-top: 10.7rem;
    right: 23%;
    height: 7.7rem;
  }
  .team .vertical4{
    margin-top: 18.5rem;
    height: 15.5rem;
  }
  
  .team .diagramme .line-order{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .team .diagramme .line-order .role{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .team .diagramme .line-order .role p{
    text-align: center;
    border: 1px solid #02021b;
    padding: 0.4rem 1rem;
    border-radius: .5rem;
    color: white;
    text-transform: capitalize;
    min-width: 15rem;
    min-height: 3rem;
  }
  
  .team .diagramme .line-order .role p b{
    text-transform: uppercase;
    font-weight: normal;
  }
  
  .team .diagramme .line-order .role p.green{
    background: #009999;
  }
  .team .diagramme .line-order .role p.blue{
    background: #0066cb;
  }
  .team .diagramme .line-order .role p.gray{
    background: #a8c4eb;
    color: black;
  }
  
  .team .diagramme .line-order .role .img-hidden{
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: .5rem;
    box-shadow: 1px 2px 30px slategray;
    border-radius: 5px;
    width: fit-content;
    backdrop-filter: blur(5px);
    z-index: 1;
  }
  
  .team .diagramme .line-order .role .hidden-left{
    left: -10rem;
  }
  .team .diagramme .line-order .role .hidden-right{
    right: -10rem;
  }
  
  .team .diagramme .line-order .role .img-hidden h4{
    letter-spacing: 2px;
    text-align: center;
    max-width: 10rem;
    word-wrap: break-word;
    padding: .5rem 0;
  }
  
  .team .diagramme .line-order .role .img-hidden img{
    width: 10rem;
    max-height: 11rem;
    border-radius: 5px;
    object-fit: cover;
  }